@use "../abstracts/_mixins.scss" as *;

.page-container {
  @include container;
  padding: 2rem 1rem;
  flex: 1;
}

.page-title {
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--border-color);
}
