@use "sass:map";

$breakpoints: (
  xs: 320px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  '2xl': 1536px
);

@mixin respond($break) {
  // use modern map.get per Dart Sass migration
  $val: map.get($breakpoints, $break);
  @if $val {
    @media (min-width: $val) { @content; }
  }
}

/* small container mixin */
.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  @include respond(md) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
