@use "../abstracts/_mixins.scss" as *;

.footer {
  background: var(--color-surface);
  border-top: 1px solid var(--border-color);
  margin-top: auto;
  padding: 2rem 0;
  
  &-container {
    @include container;
    text-align: center;
    color: var(--text-light);
    font-size: 0.875rem;
  }
}
