name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: [Risala,Boutaleb,Maxconfort,Qasidaty]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest
      - name: Install dependencies (root)
        run: pnpm install
      - name: Build client
        run: |
          cd projects/${{ matrix.project }}/client
          pnpm run build
      - name: Build server
        run: |
          cd projects/${{ matrix.project }}/server
          pnpm run build
